//Form input box
.formWrapper {
  position: fixed;
  bottom: 0;
  padding: 1.5rem;
  background: rgba(25,25,25,0.5);
  width: 100%;
  //Input
  input {
    font-size: 2.5rem;
    color: white;
  }
}

.notesHeader {
  padding: 1rem 0 0 0;
}

//All the notes
.notesBody {
  padding: 0 5% 30vh 5%;
}

//Content for each note
.noteContent {
  padding: 3rem;
  @media (max-width: 500px) {
    padding: 3rem 0;
  }
}

//Close cross
.closebtn {
  position: absolute;
  right: 2rem;
  font-size: 3rem;
  color: red;
  &:hover {
    cursor: pointer;
  }
}

//Update/Edit Icon
.updateBtn {
  background: transparent;
  border: 0;
  position: absolute;
  right: 4rem;
  margin-top: 1.5rem;
  i {
    color: forestgreen;
  }
}