html, body {
  margin: 0;
  background-color: darkslateblue;
  color: white;
}

.notesWrapper {
  display: flex;
  flex-flow: column;
  margin: auto;
  text-align: center;
}

.notesHeader {
  p {
    margin-top: 0;
  }
}

.heading {
  font-family: 'Sedgwick Ave', cursive;
  font-weight: 600;
  font-size: 4rem;
  color: gold;
  text-shadow: 2px 2px 4px rgba(00, 00, 00, 0.5);
}

.fade-in {
  opacity: 1;
}